<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mammoth.infra.modules.cupon.CuponMapper">

	<resultMap id="resultMapObj" type="com.mammoth.infra.modules.cupon.Cupon"></resultMap>
	
	<insert id="signUpCupon">
		INSERT INTO cupon (
		cpName
		,cpDiscount
		,cpPercentNy
		,cpUseNy
		,cpDelNy
		,cp_mmSeq
		)
		VALUES (
		'회원가입 쿠폰팩'
		,10000
		,0
		,0
		,0
		,#{mmSeq}
		)
		<selectKey resultType="Integer" keyProperty="cpSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>

</mapper>