    #popup {
    	display: none;
	    min-width: 0;
	    position: absolute;
	    left: calc(50% - 18rem);
	    top: 0px;
	    margin-top: 100px;
	}
	#popup .xans-product-optionselectlayer {
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	    border: 1px solid #000;
	    height: auto;
	}
	#popup .ec-base-layer {
	    position: relative;
	    border: 0;
	}
	.ec-base-layer {
	    position: absolute;
	    z-index: 100;
	    border: 1px solid #757575;
	    background: #fff;
	}
	.xans-product-optionselectlayer {
	    width: 600px;
	}
	#popup .ec-base-layer .header {
	    padding: 12px 35px 12px 19px;
	}
	.ec-base-layer .header {
	    padding: 7px 35px 7px 19px;
	    color: #fff;
	    background: #495164;
	}
	.ec-base-layer .header > h1, .ec-base-layer .header > h3 {
	    font-size: 14px;
	    line-height: 1.5;
	}
	.xans-product-optionselectlayer.ec-base-layer .content {
	    position: relative;
	    min-height: 434px;
	    padding: 0;
	}
	.ec-base-layer .content {
	    padding: 20px;
	    font-size: 12px;
	}
	.xans-product-optionselectlayer .inner {
	    overflow: auto;
	    overflow-x: hidden;
	    max-height: 359px;
	    padding: 20px 25px 14px;
	}
	.xans-product-optionselectlayer .inner .name {
	    padding: 0 0 20px;
	    font-size: 12px;
	    border-bottom: 1px dotted #000;
	}
	.xans-product-optionselectlayer .productNormal {
	    margin: 20px 0 0;
	    min-height: 82px;
	    position: relative;
	    padding: 0 0 0 100px;
	}
	.xans-product-optionselectlayer .productNormal .imgArea {
	    position: absolute;
	    left: 0;
	    top: 0;
	    width: 80px;
	    height: 80px;
	    min-height: 82px;
	}
	.xans-product-optionselectlayer .productNormal .imgArea img {
	    width: 82px;
	    height: 82px;
	    border: 1px solid #ddd;
	}
	.xans-product-optionselectlayer.ec-base-layer .content table {
	    color: #353535;
	    clear: both;
	    text-align: left;
	}
	table {
	    width: 100%;
	    border: 0;
	    border-spacing: 0;
	    border-collapse: collapse;
	}
	caption {
	    display: none;
	}
	colgroup {
	    display: table-column-group;
	}
	tbody {
	    display: table-row-group;
	    vertical-align: middle;
	    border-color: inherit;
	}
	.xans-product-optionselectlayer.ec-base-layer .content table {
	    color: #353535;
	    clear: both;
	    text-align: left;
	}
	tr {
	    display: table-row;
	    vertical-align: inherit;
	    border-color: inherit;
	}
	.xans-product-optionselectlayer.ec-base-layer .content table {
	    color: #353535;
	    clear: both;
	    text-align: left;
	}
	.xans-product-optionselectlayer .productNormal table th:first-child {
	    border-left: 0;
	}
	.xans-product-optionselectlayer .productNormal table th {
	    padding: 2px 0 5px;
	    font-weight: normal;
	    text-align: left;
	    vertical-align: top;
	}
	.xans-product-optionselectlayer .productNormal table td {
	    padding: 0 9px 8px;
	    line-height: 1.5;
	    vertical-align: middle;
	}
	.xans-product-optionselectlayer select {
	    width: 100%;
	}
	select {
	    height: 24px;
	    border: 1px solid #d5d5d5;
	    font-size: 100%;
	    color: #353535;
	    vertical-align: middle;
	}
	option {
	    font-weight: normal;
	    display: block;
	    white-space: nowrap;
	    min-height: 1.2em;
	    padding: 0px 2px 1px;
	}
	#totalProducts {
	    margin: 20px 0;
	    clear: both;
	}
	span.ec-base-help, p.ec-base-help, ul.ec-base-help li {
	    margin: 2px 9px;
	    padding: 1px 0 1px 20px;
	    line-height: 1.4;
	    background: url(/resources/images/ico_info.gif) no-repeat 0 2px;
	}
	.txt11 {
	    font-size: 11px;
	}
	.txtWarn {
	    color: #f76560;
	}
	#totalProducts table {
	    margin: 0;
	    font-size: 12px;
	}
	#totalProducts tbody tr:first-child td {
	    border-top: 1px solid #9a9ba0;
	}
	#totalProducts tbody tr td:first-child {
	    padding-left: 4px;
	}
	input, select, textarea {
	    font-size: 100%;
	    color: #353535;
	    vertical-align: middle;
	}
	#totalProducts tbody td {
	    padding: 9px 0;
	    border-top: 1px solid #ebebeb;
	    color: #353535;
	    line-height: 18px;
	    vertical-align: middle;
	    text-align: left;
	    word-wrap: break-word;
	    word-break: break-all;
	}
	#totalProducts tbody td p {
	    padding: 0 10px 0 0;
	    font-weight: bold;
	    line-height: 21px;
	}
	#totalProducts tbody td .quantity {
	    display: inline-block;
	    position: relative;
	    width: 50px;
	    vertical-align: top;
	    *margin: 0 4px 0 0;
	}
	#totalProducts tbody.option_products tr td .quantity input, #totalProducts tbody.add_products tr td .quantity input {
	    height: 23px;
	    line-height: 19px;
	}
	#totalProducts tbody td .quantity input {
	    width: 29px;
	    height: 25px;
	    padding: 0 2px 0 3px;
	    line-height: 25px;
	    border: 1px solid #d4d8d9;
	    border-radius: 3px 0 0 3px;
	    *margin-top: -1px;
	}
	.xans-product-optionselectlayer input[type=text] {
	    width: 75%;
	}
	input[type=text], input[type=password] {
	    height: 18px;
	    line-height: 20px;
	    padding: 2px 4px;
	    border: 1px solid #d5d5d5;
	    color: #353535;
	    font-size: 12px;
	}
	#totalProducts tbody td .quantity .up {
	    position: absolute;
	    left: 28px;
	    top: 0;
	}
	#totalProducts tbody td .quantity .down {
	    position: absolute;
	    left: 28px;
	    top: 10px;
	}
	#totalProducts table .right {
	    padding-right: 9px;
	    font-weight: bold;
	    color: #008bcc;
	    text-align: right;
	}
	#totalProducts tbody td p.product span {
	    font-weight: normal;
	    color: #757575;
	    line-height: 18px;
	}
	#totalProducts tbody tr:last-child td {
	    border-bottom: 1px solid #9a9ba0;
	}
	#totalProducts tfoot {
	    position: absolute;
	    bottom: 0;
	    left: 0;
	    width: 100%;
	    padding: 5px 0 0;
	    border-top: 1px solid #ddd;
	    background: #fff;
	}
	#totalProducts tfoot td {
	    padding: 3px 9px 8px 19px;
	    font-size: 12px;
	    line-height: 20px;
	    border: 0;
	    color: #353535;
	    vertical-align: middle;
	    background: #fff;
	}
	#totalProducts tfoot td .total {
	    color: #008bcc;
	}
	#totalProducts tfoot td .total em {
	    font-style: normal;
	    font-size: 21px;
	}
	.xans-product-optionselectlayer .inner:after {
	    content: "";
	    display: block;
	    clear: both;
	}
	.ec-base-layer .ec-base-button {
	    padding: 9px;
	    border-top: 1px solid #d7d5d5;
	    text-align: center;
	    background: #fbfafa;
	}
	.ec-base-button .btn_apr {
	    display: inline-block;
	    background: #000;
	    color: #fff;
	    padding: 0 30px;
	    line-height: 40px;
	    font-size: 16px;
	    -webkit-border-radius: 3px;
	    -moz-border-radius: 3px;
	    border-radius: 3px;
	}
	#popup .xans-product-optionselectlayer .btn_apr.close {
	    position: static;
	    top: auto;
	}
	#popup .ec-base-layer .close {
	    top: 5px;
	}
	.ec-base-button .btn_apr.white {
	    background: #ffffff;
	    color: #010101;
	    border: 1px solid #626262;
	    line-height: 38px;
	}