<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mammoth.infra.modules.review.ReviewMapper">

    <resultMap id="resultMapObj" type="com.mammoth.infra.modules.review.Review"></resultMap>
    
    <select id="selectList" resultMap="resultMapObj">
    	SELECT
    		rv.rvContents
    		,rv.rv_prSeq
    		,rv.rv_mmSeq
    		,rv.rvStar
    		,rv.rvCreDate
    		,mm.mmName
    		,mm.mmGrade
    		,pr.prName
    	FROM review rv
    	JOIN product pr ON pr.prSeq = rv.rv_prSeq
    	JOIN member mm ON mm.mmSeq = rv.rv_mmSeq
    	WHERE 1=1
    		AND rv_prSeq = #{rv_prSeq} 
    </select>
    
    <insert id="insert">
    	INSERT INTO review (
    		rvContents
    		,rv_prSeq
    		,rv_mmSeq
    		,rvStar
    	)
    	
    	VALUES(
    		#{rvContents}
    		,#{rv_prSeq}
    		,#{rv_mmSeq}
    		,#{rvStar}
    	)
    	<selectKey resultType="Integer" keyProperty="rvSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
    </insert>
    
    <insert id="insertUpload">
	    INSERT INTO reviewUploaded (
    		upType
    		,upDefaultNy
    		,upPath
    		,upOriginalName
    		,upUuidName
    		,upExt
    		,upSize
    		,up_rvSeq
    	)
    	
    	VALUES (
    		#{upType}
    		,#{upDefaultNy}
    		,#{upPath}
    		,#{upOriginalName}
    		,#{upUuidName}
    		,#{upExt}
    		,#{upSize}
    		,#{rvSeq}
    	)
    </insert>
    
    <select id="selectOne" resultMap="resultMapObj">
    	SELECT
    		rv.rvContents
    		,rv.rv_prSeq
    		,rv.rv_mmSeq
    		,rv.rvStar
    		,rv.rvCreDate
    		,mm.mmName
    		,mm.mmGrade
    		,pr.prName
    	FROM review rv
    	JOIN product pr ON pr.prSeq = rv.rv_prSeq
    	JOIN member mm ON mm.mmSeq = rv.rv_mmSeq
    	WHERE 1=1
    		AND rv_prSeq = #{rv_prSeq}
    		AND rvSeq = #{rvSeq}
    </select>
    
</mapper>