<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mammoth.infra.modules.member.MemberMapper">

	<resultMap id="resultMapObj" type="com.mammoth.infra.modules.member.Member"></resultMap>
	
	<insert id="memberInst">
		INSERt INTO member (
			mmId
			,mmPassword
			,mmName
			,mmTelecom
			,mmPhoneNumber
			,mmSmsRecieveCheckNy
			,mmEmail
			,mmEmailRecieveCheckNy
			,mmGender
			,mmYear
			,mmBirth
			,mmGrade
			,mmCertNy
			,mmCreDate
			,mmDelNy
			,mmAdminNy
		)
		VALUES (
			#{mmId}
			,#{mmPassword}
			,#{mmName}
			,#{mmTelecom}
			,#{mmPhoneNumber}
			,0
			,#{mmEmail}
			,0
			,#{mmGender}
			,#{mmYear}
			,#{mmBirth}
			,1
			,#{mmCertNy}
			,now()
			,0
			,0
		)
		<selectKey resultType="Integer" keyProperty="mmSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	
	<insert id="myinfoAddrInst">
		INSERT INTO address (
		  	adrName
		  	,adrZipcode
		  	,adrAddress
		  	,adrAddressDetail
		  	,adrPhoneNumber
		  	,adrTel
		  	,adrdefaultNy
		  	,adr_mmSeq
		)
		VALUES (
		  	#{mmName}
		  	,#{mmZipcode}
		  	,#{mmAddress}
		  	,#{mmAddressDetail}
		  	,#{mmPhoneNumber}
		  	,#{adrTel}
		  	,1
		  	,#{mmSeq}
		)
		<selectKey resultType="Integer" keyProperty="adrSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	<update id="myinfoAddrUpdat">
		UPDATE address
		SET
		  	adrName				= #{mmName}
		  	,adrZipcode			= #{mmZipcode}
		  	,adrAddress			= #{mmAddress}
		  	,adrAddressDetail	= #{mmAddressDetail}
		  	,adrPhoneNumber		= #{mmPhoneNumber}
		  	,adrTel				= #{mmTel}
		  	,adrdefaultNy		= 1
		WHERE adrSeq = #{adrSeq}
	</update>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			mm.mmId
		    ,mm.mmName
		    ,mm.mmGrade
		    ,mm.mmEmail
		    ,mm.mmPhoneNumber
		    ,mm.mmTelecom
		    ,mm.mmGender
		    ,mm.mmCertNy
		    ,mm.mmBirth
		    ,(
		    	SELECT
		    		COUNT(*)
		    	FROM cupon cp
		    	WHERE mm.mmSeq = cp_mmSeq
		    	AND cp_mmSeq = #{mmSeq}
		    )	cuponCount
		FROM member mm
		WHERE 1=1
		AND mmSeq = #{mmSeq}
	</select>
	<select id="adrselectOne" resultMap="resultMapObj">
	SELECT
		adrSeq
		,adrZipcode			AS mmZipcode
		,adrAddress			AS mmAddress
		,adrAddressDetail	AS mmAddressDetail
	FROM address
	WHERE adr_mmSeq = #{mmSeq}
	AND adrdefaultNy = 1
	</select>
	
	<select id="idCheck" resultType="Integer">
		SELECT
			COUNT(*)
		FROM
			member
		WHERE 1=1
			AND mmId = #{mmId}
	</select>
	
	<!--SNS 로그인세션 -->
	<select id="logInCd" resultMap="resultMapObj">
		SELECT
			mmSeq
			,mmId
			,mmName
			,mmAdminNy
			,mmCertNy
		FROM 
			member
		WHERE 1=1
			AND mmId = #{mmId}
	</select>
	<!--일반 로그인세션 -->
	<select id="signInCd" resultMap="resultMapObj">
		SELECT
			mmSeq
			,mmId
			,mmName
			,mmAdminNy
			,mmCertNy
		FROM 
			member
		WHERE 1=1
			AND mmId = #{mmId}
			AND mmPassword = #{mmPassword}
	</select>
	
	<select id="adrList" resultMap="resultMapObj">
		SELECT
			*
		FROM address 
		WHERE 1=1 
		AND adr_mmSeq = #{mmSeq}
	</select>
	<insert id="adrInst">
		INSERT INTO address (
			adrAddrName
		  	,adrName
		  	,adrZipcode
		  	,adrAddress
		  	,adrAddressDetail
		  	,adrPhoneNumber
		  	,adrTel
		  	,adrdefaultNy
		  	,adr_mmSeq
		)
		VALUES (
			#{adrAddrName}
		  	,#{adrName}
		  	,#{adrZipcode}
		  	,#{adrAddress}
		  	,#{adrAddressDetail}
		  	,#{adrPhoneNumber}
		  	,#{adrTel}
		  	,#{adrdefaultNy}
		  	,#{mmSeq}
		)
		<selectKey resultType="Integer" keyProperty="adrSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	<update id="adrdefaultNy">
		UPDATE address 
			SET 
				adrdefaultNy = 0
		WHERE adr_mmSeq = #{mmSeq}
	</update>
	<update id="adrUpdt">
		UPDATE address
		SET
			adrAddrName			= #{adrAddrName}
		  	,adrName			= #{adrName}
		  	,adrZipcode			= #{adrZipcode}
		  	,adrAddress			= #{adrAddress}
		  	,adrAddressDetail	= #{adrAddressDetail}
		  	,adrPhoneNumber		= #{adrPhoneNumber}
		  	,adrTel				= #{adrTel}
		  	,adrdefaultNy		= #{adrdefaultNy}
		WHERE adrSeq = #{adrSeq}
	</update>
	<delete id="adrCheckDel">
		DELETE
		FROM address 
	    WHERE adrSeq = #{adrSeq}
	    AND adr_mmSeq = #{mmSeq}
	</delete>
	<select id="adrSelectOne" resultMap="resultMapObj">
		SELECT
			*
		FROM address
		WHERE 1=1
		AND adrSeq = #{adrSeq}
	</select>
	
	<update id="certUpdt">
		UPDATE member
		SET
			mmCertNy = 1
			,mmPhoneNumber = #{mmPhoneNumber}
			,mmTelecom = #{mmTelecom}
		WHERE 1=1
		AND mmSeq = #{mmSeq}
	</update>
	<select id="certOne">
		SELECT
			mmName
			,mmCertNy
		FROM member
		WHERE mmSeq = #{mmSeq}
	</select>
	
	
	
</mapper>