<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mammoth.infra.modules.member.MemberMapper">

	<resultMap id="resultMapObj" type="com.mammoth.infra.modules.member.Member"></resultMap>
	
	<insert id="memberInst">
		INSERt INTO member (
			mmId
			,mmPassword
			,mmName
			,mmTelecom
			,mmPhoneNumber
			,mmSmsRecieveCheckNy
			,mmEmail
			,mmEmailRecieveCheckNy
			,mmGender
			,mmBirth
			,mmGrade
			,mmCertNy
			,mmCreDate
			,mmDelNy
			,mmAdminNy
		)
		VALUES (
			#{mmId}
			,#{mmPassword}
			,#{mmName}
			,#{mmTelecom}
			,#{mmPhoneNumber}
			,0
			,#{mmEmail}
			,0
			,#{mmGender}
			,#{mmBirth}
			,0
			,0
			,now()
			,0
			,0
		)
		<selectKey resultType="Integer" keyProperty="mmSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	<select id="myInfo" resultMap="resultMapObj">
	SELECT
		mmId
	    ,mmName
	    ,mmEmail
	    ,mmGender
	FROM member 
	WHERE 1=1
	AND mmId = #{mmId}
	</select>
	
	
	<select id="idCheck" resultType="Integer">
		SELECT
			COUNT(*)
		FROM
			member
		WHERE 1=1
			AND mmId = #{mmId}
	</select>
	
</mapper>