<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mammoth.infra.modules.order.OrderMapper">

    <resultMap id="resultMapObj" type="com.mammoth.infra.modules.order.Order"></resultMap>
    
    <select id="selectList" resultMap="resultMapObj">
		SELECT
			bsk.bskSeq
			,pr.prSeq
		    ,prup.upPath
		    ,prup.upUuidName
			,pr.prName
			,pr.prTotalPrice
			,bsk.bskAmount
			,bsk.bskSell_Price
		FROM basket bsk
		JOIN product pr
		ON bsk.bsk_prSeq = pr.prSeq
		JOIN productUploaded prup
		ON bsk.bsk_prSeq = prup.up_prSeq
		WHERE bsk.bsk_mmSeq = #{mmSeq}
		AND prup.upType = 1
		AND	prup.upDefaultNy = 1
	</select>
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			mm.mmSeq
			,mm.mmName
			,mm.mmPhoneNumber
			,mm.mmEmail
			,mm.mmGrade
			,adr.adrSeq
			,adr.adrName
			,adr.adrZipcode
			,adr.adrAddress
			,adr.adrAddressDetail
			,adr.adrPhoneNumber
		FROM member mm
		JOIN address adr
		ON adr.adr_mmSeq = mm.mmSeq 
		WHERE 1=1
		AND mm.mmSeq = #{mmSeq}
		AND adrdefaultNy = 1
	</select>
	
	
</mapper>