<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mammoth.infra.modules.product.ProductMapper">

    <resultMap id="resultMapObj" type="com.mammoth.infra.modules.product.Product"></resultMap>
    
    <select id="selectListMDpick" resultMap="resultMapObj">
    	SELECT
    		pr.prSeq
    		,pr.prName
    		,pr.prDiscount
    		,pr.prTotalPrice
    		,pr.prPrice
    		,pr.prKind
    		,pr.prFragrance
    		,prup.upPath
    		,prup.upUuidName
    		,(
    			SELECT
		    		AVG(rvStar)
		    	FROM review
		    	WHERE rv_prSeq = pr.prSeq
    		) AS rvStarAver
    		,(
    			SELECT
    			COUNT(*)
    			FROM review
    			WHERE rv_prSeq = pr.prSeq
    		) AS rvTotalCount
    	FROM product pr
    	JOIN productUploaded prup ON pr.prSeq = prup.up_prSeq
    	LEFT JOIN review rv ON rv.rv_prSeq = pr.prSeq
    	WHERE 1=1
    		AND pr.prUseNy = 1
    		AND pr.prDelNy = 0
    		AND prup.upType = 1
    		AND prup.upDefaultNy = 1
    	ORDER BY prSeq ASC 
    	LIMIT 8
    </select>
    
    <select id="selectList" resultMap="resultMapObj">
    	SELECT
    		pr.prSeq
    		,pr.prName
    		,pr.prDiscount
    		,pr.prTotalPrice
    		,pr.prPrice
    		,pr.prKind
    		,pr.prFragrance
    		,prup.upPath
    		,prup.upUuidName
    	FROM product pr
    	JOIN productUploaded prup ON pr.prSeq = prup.up_prSeq
    	WHERE 1=1
    		AND pr.prUseNy = 1
    		AND pr.prDelNy = 0
    		AND prup.upType = 1
    		AND prup.upDefaultNy = 1
    	ORDER BY prSeq DESC 
    </select>
    
    <select id="selectListFromCategory" resultMap="resultMapObj">
    	SELECT
    		pr.prSeq
    		,pr.prName
    		,pr.prDiscount
    		,pr.prTotalPrice
    		,pr.prPrice
    		,pr.prKind
    		,pr.prFragrance
    		,prup.upPath
    		,prup.upUuidName
    	FROM product pr
    	JOIN productUploaded prup ON pr.prSeq = prup.up_prSeq
    	WHERE 1=1
    		AND pr.prUseNy = 1
    		AND pr.prDelNy = 0
    		AND prup.upType = 1
    		AND prup.upDefaultNy = 1
            AND prKind = #{prKind}
    	ORDER BY prSeq DESC 
    </select>
    
    <insert id="insert">
    	INSERT INTO product (
    		prName
    		,prDiscount
    		,prPrice
    		,prInfo
    		,prKind
    		,prFragrance
    		,prUseNy
    		,prDelNy
    		,prTotalPrice
    	)
    	
    	VALUES (
    		#{prName}
    		,#{prDiscount}
    		,#{prPrice}
    		,#{prInfo}
    		,#{prKind}
    		,#{prFragrance}
    		,#{prUseNy}
    		,#{prDelNy}
    		,#{prTotalPrice}
    	)
    	<selectKey resultType="Integer" keyProperty="prSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
    </insert>
    
    <insert id="insertUpload">
    	INSERT INTO productUploaded (
    		upType
    		,upDefaultNy
    		,upPath
    		,upOriginalName
    		,upUuidName
    		,upExt
    		,upSize
    		,up_prSeq
    	)
    	
    	VALUES (
    		#{upType}
    		,#{upDefaultNy}
    		,#{upPath}
    		,#{upOriginalName}
    		,#{upUuidName}
    		,#{upExt}
    		,#{upSize}
    		,#{up_prSeq}
    	)
    </insert>
    
    <select id="selectOne" resultMap="resultMapObj">
    	SELECT
    		pr.prSeq
    		,pr.prName
    		,pr.prDiscount
    		,pr.prPrice
    		,pr.prInfo
    		,pr.prKind
    		,pr.prFragrance
    		,pr.prTotalPrice
    		,prup.upPath
    		,prup.upUuidName
    	FROM product pr
    	LEFT JOIN productUploaded prup ON pr.prSeq = prup.up_prSeq
    	WHERE 1=1
    		AND pr.prUseNy = 1
    		AND pr.prDelNy = 0
			AND prup.upType = 1
            AND prup.upDefaultNy = 1
    		AND prSeq = #{prSeq}
    </select>
    
    <!-- 상품 이미지 리스트 -->
    <select id="selectListPrImg" resultMap="resultMapObj">
    	SELECT
    		upPath
    		,upUuidName
    	FROM productUploaded
    	WHERE 1=1
    		AND up_prSeq = #{prSeq}
    		AND upDelNy = 0
    		AND upType = 1
    </select>
    
    <!-- 상품 상세 이미지 리스트 -->
    <select id="selectListPrDtImg" resultMap="resultMapObj">
    	SELECT
    		upPath
    		,upUuidName
    	FROM productUploaded
    	WHERE 1=1
    		AND up_prSeq = #{prSeq}
    		AND upDelNy = 0
    		AND upType = 2
    </select>
    
    <!-- 장바구니 modal -->
    <select id="bsketSelectOne" resultMap="resultMapObj">
	    SELECT
			pr.prSeq
		    ,pr.prName
		    ,pr.prTotalPrice
		    ,prup.upPath
		    ,prup.upUuidName
		FROM product pr
		JOIN productUploaded prup ON pr.prSeq = prup.up_prSeq
		WHERE pr.prSeq = #{prSeq}
		AND prup.upDefaultNy = 1
		AND prup.upType = 1
    </select>
    
</mapper>